$theme: #FFD161; // 主题色
$subtopic: #ffb000; // 副主题色
$top-bg-color: #1C1B20; // 顶部导航背景色
$bot-bg-color: #fafafa; // 底部导航背景色
$bg-color: #eee; // 1号背景色
$bg-color2: #fff; // 2号背景色
$bg-color3: #f0f0f0; // 3号背景色
$bg-color4: rgb(46, 47, 59); // 4号背景色(商品详情头部)
$bg-color5: #3b3b3c; // 5号背景色(商品详情底部导航)
$bg-color6: #f5f5f5; // 6号背景色(商家详情左侧导航)
$color: #666; // 1号字体色
$color2: #999; // 2号字体色
$color3: #000; // 3号字体色
$color4: #C4C4C4; // 4号字体色(购物车图标)
$color5: #fb4e44; // 5号字体色(商品现价)
$border-color: #e4e4e4; // 1px边框色
$max-size: 27px; // 最大字体大小
$ls-size: 22px; // 大号字体大小
$ms-size: 20px; // 中号字体大小
$sm-size: 18px; // 小号字体大小
$base-size: 16px; // 基本使用字体大小
$default-size: 14px; // 默认字体大小
$min-size: 10px; // 最小字体大小
$link-color: #999; // 连接字体颜色
$link-active-color: #333; // 连接激活时的字体颜色
$shadow-color: rgba($color: #000, $alpha: 0.2); // 阴影色
